
.link
{
	color: white;
	background: black;	
	margin: 5px 0px 5px 0px;
}

#summary_button
{
	margin-top: 4px;

}

.caption h3
{
	line-height: 100%;
}

#welcome
{
  display: none;
}